{% block card %}
    <div class="card m-2" style="width: 18rem; height: calc(100% - 1rem);">
        {% if item.imagePath %}
            <img src="/images/{{ item.imagePath }}" class="card-img-top" alt="card image" style="height: 180px;">
        {% else %}
            <div class="w-100 bg-secondary d-flex justify-content-center align-items-center" style="height: 180px;">
                <i class="bi bi-image fs-1 text-light"></i>
            </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title limit-text-2" style="min-height: 48px;">{{ item.title }}</h5>
            <p class="card-text limit-text-3" style="min-height: 69px;"> {{ item.description }}</p>

            <p class="card-text d-flex justify-content-between flex-wrap">
                <span>{{ item.calculateRemainingTime() }}</span>
                <i class="text-secondary">By: {{ item.fundraiserUser.username }}</i>
            </p>

            <div class="progress" style="height: 20px;">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                     role="progressbar" style="width: {{ item.calculateCollectedPercent(true) }}%;"
                     aria-valuenow="{{ item.calculateCollectedPercent() }}" aria-valuemin="0" aria-valuemax="100">
                    {{ item.calculateCollectedPercent() }}%
                </div>
            </div>
            <p class="card-text mt-3">
                <strong class="fs-5">${{ item.getDonatedAmount() }}</strong> out of ${{ item.goal }}
            </p>
        </div>
    </div>
{% endblock %}
